--swiftversion 5.1

# format options
--indent 2
--self init-only
--commas inline
--trimwhitespace nonblank-lines
--hexliteralcase lowercase

# file options
--exclude Pods, TimeCamera/AppDelegate.swift, TimeCamera/SceneDelegate.swift

# rules
